useDynLib(scran)

export(
    countsToSE, 
    DM, testVar,
    buildNullRho
)

exportMethods(
    normalizeBySums, quickCluster, normalizeBySpikes, normalize,
    trendVar, decomposeVar, 
    sandbag, cyclone,
    genePairRho,
    spikes
)

importFrom("dynamicTreeCut", cutreeDynamic)
importFrom("zoo", zoo, rollapply, index)
importFrom("edgeR", cpm.default)
importFrom("stats", poly)
importFrom("BiocGenerics", normalize)

import(BiocParallel)
import(SummarizedExperiment)
import(methods, S4Vectors)

