useDynLib(scran)

export(
    DM, testVar,
    correlateNull
)

exportMethods(
    normalizeBySums, quickCluster, normalizeBySpikes, normalize,
    trendVar, decomposeVar, 
    sandbag, cyclone,
    correlatePairs,
    spikes, isSpike, "isSpike<-"
)

importFrom("dynamicTreeCut", cutreeDynamic)
importFrom("zoo", zoo, rollapply, index)
importFrom("edgeR", cpm.default)
importFrom("stats", poly)
importFrom("BiocGenerics", normalize)
importFrom("Biobase", assayDataElement, "assayDataElement<-", fData)

import(BiocParallel)
import(scater)
import(methods)

